CODEOWNERS @a.chubar @support.kandoo @qxalsh @qxalch
KandooERP/Resources/Environment/*.env @a.chubar @support.kandoo @qxalsh @qxalch
KandooERP/Resources/Environment/*.xml @a.chubar @support.kandoo @qxalsh @qxalch
KandooERP/Resources/Environment/*.html @a.chubar @support.kandoo @qxalsh @qxalch
