*.o
*.4ge
*.lib
*.frm
.svn
.cvsignore
*.log
*.mk
*.err
*.orig
*.out
*ninja*
apps/MaiaERP/source/dbschema/sch_.txt
/.metadata/
.history/
/.history/
.vscode/
KandooERP/Resources/Utilities/Perl/Ffg/signatures/
KandooERP/Resources/Utilities/Perl/Ffg/database/kandoodb.informix.xml.old
temp.db-journal
